[submodule "Rules"]
	path = Rules
	url = git@github.com:toptensoftware/Rules
[submodule "lib/ceelib/ceelib"]
	path = lib/ceelib/ceelib
	url = git@github.com:toptensoftware/ceelib
[submodule "lib/FFsh/FFsh"]
	path = lib/FFsh/FFsh
	url = git@github.com:toptensoftware/libFFsh
